table {
    border: solid 2pt brown;

}

caption {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

th {
    padding: 10pt;
    background-color: burlywood;
}

td {
    padding: 10pt;
}

tr:nth-child(even) {
    background-color: cornsilk;
}

tr:nth-child(odd) {
    background-color: lightyellow;
}

tr:hover {
    background-color: darkgoldenrod;
    font-weight: bold;
}